.hamburger-menu-container {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--light-1);
	max-width: 80vw;
	height: 100vh;
	text-align: left;
	padding: 5rem 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	opacity: 0.9;
	transition: transform 0.3s ease-in-out;
	transform: translateX(-100%);
}

.hamburger-menu-closed {
	transform: translateX(-100%);
}

.hamburger-menu-open {
	transform: translateX(0%);
}

@media (max-width: 600px) {
	.hamburger-menu-container {
		width: 100%;
	}
}

.hamburger-nav-list {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
	width: 100%;
	padding: 0;
}

.hamburger-menu-item {
	width: 80%;
}

.hamburger-menu-link {
	display: block;
	background: var(--bright-1);
	margin: 1rem 0;
	min-width: 100%;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.5rem;
	color: var(--dark-1);
	text-decoration: none;
	transition: color 0.2s linear;
	line-height: 2;
}

.hamburger-menu-link:hover {
	color: var(--light-1);
}

@media (max-width: 600px) {
	.hamburger-menu-link {
		font-size: 2rem;
		text-align: center;
	}
	.hamburger-menu-container:focus {
		/* color: var(--accent-1); */
	}
}
