.sidebar {
	// margin: 0 var(--spacing-large);
	grid-row: 1;
	min-width: 280px;
	height: 100%;
	border-width: 0;
	border-radius: var(--border-radius-medium);
	overflow: hidden;

	&.left {
		grid-column: 1;
	}
	&.right {
		grid-column: 2;
	}

	.logoWrapper {
		position: relative;
		min-width: 200px;
		max-width: max-content;
		min-height: 200px;
		max-height: 400px;
		margin: auto;
		border-radius: 500px;
		overflow: hidden;
	}
	.sidebarContent {
		height: auto;
		max-width: max-content;
		margin: var(--spacing-large) auto 0 auto;
		padding: var(--spacing-large);
		// border-image: linear-gradient(
		// 		to bottom,
		// 		var(--accent-2) 0%,
		// 		transparent 60%
		// 	)
		// 	30;
		// border-width: 0 1px 0 1px;
		// border-width: 1px;
		// border-style: solid;
		border-radius: var(--border-radius-medium-2);
		background-image: linear-gradient(
			to top,
			var(--accent-1-transparent) 0%,
			transparent 15%
		);

		.socialLinksContainer {
			display: flex;
			justify-content: flex-start;
			padding-bottom: var(--spacing-large);
			flex-wrap: wrap;

			a:first-child {
				@media (min-width: 1280px) {
					margin-left: 0;
				}
			}
		}
		.locations {
			.locationsList {
				display: flex;
				align-items: center;
				.neighborhood {
					padding-right: var(--spacing-small);
				}
				.locationIcon {
					margin: 0 var(--spacing-medium) 0 var(--spacing-small);
				}
			}
		}
	}
}
