.sidebar {
	margin: 0 var(--spacing-large);
	grid-row: 1;
	border-image: linear-gradient(
			to bottom,
			transparent 20%,
			var(--accent-2),
			transparent 98%
		)
		30;
	border-width: 0 0 0 2px;
	border-style: solid;
	border-radius: var(--border-radius-medium);
	overflow: hidden;

	&.left {
		grid-column: 1;
	}
	&.right {
		grid-column: 2;
	}

	.logoWrapper {
		position: relative;
		min-width: 200px;
		max-width: 400px;
		min-height: 200px;
		max-height: 400px;
	}
	.sidebarContent {
		height: 100%;
		padding: var(--spacing-large);
		border-image: linear-gradient(to bottom, var(--accent-2), transparent 50%)
			30;
		border-width: 0 2px 0 0;
		border-style: solid;

		.socialLinksContainer {
			display: flex;
			justify-content: flex-start;
			padding-bottom: var(--spacing-large);

			a:first-child {
				margin-left: 0;
			}
		}
		.locations {
			.locationsList {
				display: flex;
				align-items: center;
				.neighborhood {
					padding-right: var(--spacing-small);
				}
				.locationIcon {
					margin: 0 var(--spacing-medium) 0 var(--spacing-small);
				}
			}
		}
	}
}
