.main-app-container {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    width: 100%;
    min-height: 0;
    height: 84.5vh;
    align-items: stretch;
    justify-content: stretch;
}

.sidebar-container {
    position: relative;
    display: inline-flex;
    flex: 1 1 250px;
    min-width: 185px;
    min-height: 0;
    max-height: 100%;
}

.map-container {
    position: relative;
    display: inline-flex;
    flex: 1 1 60%;
    min-width: 0;
    min-height: 0;
    max-height: 100%;
}

@media screen and (max-width: 625px) {
    .sidebar-container {
        max-height: 50%;
    }
    .map-container {
        max-height: 50%;
    }
}