.main-map-container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-auto-rows: 1fr;
	grid-template-areas: 
	"sidebar map";
}

.leaflet-container {
	grid-area: map;
	width: 100%;
	height: 100%;
}

#main-map-id {
	width: 100%;
	height: 100%;

	min-height: 30rem;
}

.map-loading {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	animation: fadeInOut .6s alternate ease-in-out;
}

.map-loading h2 {
	animation: fadeInOut .6s infinite alternate ease-in-out;
}

@keyframes fadeInOut {
	from {
		opacity: .1;
	}
	to {
		opacity: 1;
	}
}

/* Sidebar styles */

.main-map-sidebar {
	grid-area: sidebar;
	height: 100%;
}

.map-sidebar {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background: hsla(0, 0%, 0%, 0.01);
}

.sidebar-tabs {
	display: flex;
	justify-content: center;
}
.sidebar-tab {
	flex: 1 0 20%;
	margin: 0rem 0.1rem 0rem 0.1rem;
	padding: 0.5rem;
	border: none;
	background: var(--light-1);
	transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.sidebar-tab:hover {
	background: var(--bright-1);
	cursor: pointer;
	transform: scaleY(1.1);
}

@media only screen and (max-width: 600px) {
	.main-map-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-template-areas:
		"sidebar"
		"map";
	}	
}