.main-map-container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-auto-rows: 1fr;
	grid-template-areas: 
	"sidebar map";
}

.leaflet-container {
	grid-area: map;
	width: 100%;
	height: 100%;
}

#main-map-id {
	width: 100%;
	height: 100%;
	min-height: 80vh;
}

.map-loading {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	animation: fadeInOut .6s alternate ease-in-out;
}

.map-loading h2 {
	animation: fadeInOut .6s infinite alternate ease-in-out;
}

@keyframes fadeInOut {
	from {
		opacity: .1;
	}
	to {
		opacity: 1;
	}
}

/* Sidebar styles */

.main-map-sidebar {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	min-width: min-content;
	min-height: 50vh;
	max-height: 100%;
	position: relative;
	grid-area: sidebar;
	background: var(--dull-1);
}

.map-sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-height: 90vh;
	overflow-y: auto;
}

.sidebar-tabs {
	display: flex;
	justify-content: center;
	width: 100%;
}

.sidebar-tab {
	flex: 1 0 20%;
	padding: .8rem;
	border: 1px solid var(--dull-1);
	border-width: 0 1px;
	background: var(--dark-1);
	color: var(--light-1);
	transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.sidebar-tab:hover {
	background: var(--bright-1);
	cursor: pointer;
	transform: scaleY(1.1);
}

@media only screen and (max-width: 600px) {
	.main-map-container {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
		grid-template-areas:
		"sidebar"
		"map";
		grid-gap: .2rem;
	}
	.leaflet-container {
		min-height: 40vh;
		max-height: 40vh;
	}
	.main-map-sidebar {
		min-height: 40vh;
		max-height: 40vh;
		background: black;
	}
}