.map-marker {
}

.map-marker-wrapper {
	background: var(--main-bg);
}

.popup-name {
	padding: 0.5rem 1rem;
	text-align: center;
	font-size: 1.5em;
	font-weight: 700;
	background: linear-gradient(to right, var(--bright-1), var(--main-bg));
}

.popup-name a {
	color: var(--main-text);
}

.popup-type {
	text-align: center;
}

.popup-social-box {
	display: flex;
	justify-content: center;

	color: var(--main-text);
}

.popup-social-box div a {
	display: inline-block;
	max-height: 2rem;
	color: black;
}

.popup-social-box div a:hover {
	color: var(--bright-1);
}
