.map-marker {
}

.map-marker-wrapper {
	background: var(--main-bg);
	min-width: 10rem;
	border-radius: 0.5rem;
}

.popup-name {
	text-align: center;
	font-size: 1.5em;
	font-weight: 700;
}

.popup-name a {
	display: block;
	padding: 0.5rem 2rem 0rem 2rem;
	border-radius: 0.5rem 0.5rem 0 0;
	color: var(--main-text);
	background: linear-gradient(to bottom, var(--bright-1), var(--main-bg));
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
}

.popup-name a:hover {
	color: var(--dark-2);
	background: hsla(29, 100%, 50%, 1);
	/* background: linear-gradient(to bottom, var(--bright-1), var(--main-bg) 60%); */
}

.popup-type {
	text-align: center;
	font-style: italic;
}

.popup-social-box {
	display: flex;
	justify-content: center;

	color: var(--main-text);
}

.popup-social-box div a {
	display: inline-block;
	max-height: 2rem;
	color: black;
}

.popup-social-box div a:hover {
	color: var(--bright-1);
}
