/* CSS file to target Leaflet styles unreachable from CSS module */

.leaflet-popup-content-wrapper {
	margin: 0;
	padding: 0 !important;
	background: transparent;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.leaflet-popup-content {
	margin: 0 !important;
	padding: 0;
}

.leaflet-popup-content-wrapper:hover {
	opacity: 0.92;
}

.leaflet-popup {
	min-width: 10rem;
}

.leaflet-container a.leaflet-popup-close-button {
	color: var(--dull-1);
	font-size: 1.2rem;
}
