/* Sidebar styles */

.main-map-sidebar {
    position: relative;
    flex: 1 1 auto;
    background: black;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar-tabs {
	display: flex;
	justify-content: center;
	width: 100%;
}

.sidebar-tab {
	flex: 1 0 auto;
    padding: .8em;
	border: 1px solid var(--dull-1);
	border-width: 0 1px;
	background: var(--dark-1);
	color: var(--light-1);
	transition: background 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.sidebar-tab:hover {
	background: var(--bright-1);
	cursor: pointer;
	transform: scaleY(1.1);
}
