/* Main item */
.map-sidebar-item {
	display: flex;
	flex: 1 1 auto;
	min-height: 0;
	margin: 0.1rem 0;
	padding: 0.5rem;
	background: var(--dark-1);
	color: var(--light-1);
	transition: background 0.2s ease-in-out;
}

.map-sidebar-item:hover {
	background: var(--dark-2);
	cursor: pointer;
}

/* Vital info */
.sidebar-info-container {
	display: flex;
	flex-direction: column;
	min-width: 50%;
	max-width: 80%;
}

.sidebar-name {
	font-size: 1.2rem;
	padding: 0.2rem 0;
	color: var(--bright-1);
	text-decoration: underline;
	text-decoration-style: dashed;
}

.sidebar-type {
	font-size: 0.8rem;
	padding: 0.2rem 0;
}

.sidebar-website {
	font-size: 0.8rem;
}

.sidebar-website a {
	text-decoration: underline;
}

/* Social buttons */
.sidebar-social-buttons {
	display: flex;
	flex: 1 0 25%;
	justify-content: flex-end;
	align-items: center;
}

.sidebar-social-link {
	padding: 0.2rem;
}
