.card {
	position: relative;
	flex: 1 1 200px;
	display: flex;
	flex-direction: column;
	max-width: 500px;
	height: 100%;
	margin: var(--spacing-medium);
	border-radius: var(--border-radius-medium);
	overflow: hidden;
	transition: var(--transition-speed-medium);
	background: var(--light-transparent);
	&:hover {
		cursor: pointer;
		opacity: 0.9;
	}

	.link {
		display: block;
		color: inherit;
		&:hover {
			text-decoration: none;
		}

		.image {
			display: block;
			width: 100%;
			height: 100%;
			.tagWrapper {
				position: absolute;
				top: var(--spacing-medium);
				left: var(--spacing-small);
			}
		}

		.content {
			padding: var(--spacing-small);

			border-radius: 0 0 var(--border-radius-medium) var(--border-radius-medium);

			.row1 {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.title {
					font-size: var(--font-size-large);
					padding-bottom: var(--spacing-small);
				}
			}
			.row2 {
				.data1 {
					display: flex;
					align-items: center;
				}
			}
		}
	}
}
