.blog-post-page-container {
	display: flex;
	flex-wrap: wrap-reverse;
	width: 100%;
	min-height: 100vh;
}

.blog-post-sidebar-container {
	flex: 1 1 25%;
	display: flex;
	width: clamp(18rem, 25%, 20rem);
}

.blog-post-container {
	flex: 1 1 70%;
	display: flex;
	flex-direction: column;
	min-width: 40rem;
	padding: 0 2rem;
}

.blog-post-frontmatter {
	margin-bottom: 0.5rem;
}
.blog-post-title {
	font-size: 3rem;
	margin-bottom: 0.2rem;
}

.blog-post-frontmatter-date {
	font-size: 1.1rem;
	font-style: italic;
	opacity: 0.8;
}
