.entry-body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
    grid-template-areas:
    "image"
    "text";
    width: 100%;
    min-height: 0;
    max-height: 100%;
}

.entry-body {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.entry-body p {
    display: block;
    margin: 0.5rem;
}

.entry-image {
    grid-area: image;
    margin: auto;
    text-align: center;
    min-width: 60%;
    max-width: 65%;
}