.entry-container {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-areas: "sidebar main";
	width: 100%;
	height: 100%;
	background: hsla(0, 0%, 100%, 0.2);
}

/* Sidebar */
.entry-sidebar {
	position: relative;
	grid-area: sidebar;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--dark-1);
	color: var(--light-1);
	min-width: 15rem;
	min-height: 0;
	padding: 1rem;
}

.entry-sidebar-title {
	width: 100%;
	text-align: center;
	font-size: 2rem;
	margin: 0.5rem 0;
}

.entry-sidebar-title a:hover {
	color: var(--light-1);
}

.entry-links {
	width: 100%;
	text-align: center;
	padding-bottom: 1rem;
	border-bottom: 2px solid var(--light-1);
}

.social-box {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 60%;
	padding: 0.2rem;
	text-align: center;
}

.social-box a {
	font-size: 2.5rem;
}

.entry-website {
	min-width: 50%;

	font-size: 1.4rem;
	text-align: center;
}

.entry-website:hover {
}

.entry-website a {
	display: block;
	padding: 0.4rem;
	border-radius: 0.2rem;
	background: var(--light-1);
	color: black;
	transition: background 0.2s ease-in-out;
}

.entry-website a:hover {
	background: var(--bright-1);
	opacity: 0.85;
}

.info-table {
	min-width: 50%;
	margin-top: 1rem;
}

.info-cell {
	padding: 0.5rem 0.2rem;
}

.info-cell:nth-of-type(even) {
	text-align: center;
	color: white;
}

.info-cell:nth-of-type(odd) {
	font-weight: 700;
}

/* Main */
.entry-main {
	grid-area: main;
	background: hsla(270, 50%, 50%, 0.2);
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	width: 100%;
	min-height: 100%;
	overflow-y: scroll;
}

.entry-main a {
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
}

.entry-main a:hover {
	color: var(--dark-1);
	text-decoration: underline;
}

.entry-heading {
	padding: 0.3rem 2rem;
	font-size: 1.7rem;
	text-decoration: underline;
}

.entry-content {
	padding: 0.5rem 1rem;
	line-height: 1.3;
}

.entry-image {
	max-width: 20rem;
	width: 100px;
}

.entry-map {
	flex: 1 1 auto;
	align-self: center;
	width: 80%;
	padding: 0 1rem 2rem 1rem;
	min-height: 20rem;
	max-height: 50vh;
}

@media only screen and (max-width: 600px) {
	.entry-container {
		position: relative;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		min-height: 100%;
		overflow-y: scroll;
	}
	.entry-sidebar {
		padding: 0.5rem;
		margin: 0.5rem 0;
		min-height: min-content;
	}
	.entry-main {
		position: relative;
		overflow-y: visible;
		min-height: 100%;
		background: none;
	}
}
