.entry-body {
    display: flex;
    flex-direction: column;
    min-height: 0;
    max-height: 75vh;
}

.entry-body p {
    display: block;
    margin: 0.5rem;
}

.entry-image {
    grid-area: image;
    margin: auto;
    text-align: center;
    min-width: 60%;
    max-width: 65%;
}

@media only screen and (max-width: 600px) {
    .entry-body {
        max-height: 100%;
    }
}