.card {
	flex: 1 1 300px;
	display: flex;
	flex-direction: column;
	width: clamp(250px, 33%, 100%);
	transition: var(--normal-transition-speed);
	margin: var(--normal-element-spacing);
	overflow: hidden;
	border-radius: var(--normal-border-radius) var(--normal-border-radius) 0 0;

	&:hover {
		cursor: pointer;
		opacity: 0.9;
		transform: translate3d(0, -5px, 0);
	}
	.image {
		display: block;
		width: 100%;
		height: 100%;
	}

	.row1 {
		display: flex;
		justify-content: space-between;
	}
}
