.slideIn {
	position: absolute;
	z-index: 80;
	width: clamp(250px, 350px, 80vw);
	height: 100%;
	transition: all var(--transition-speed-medium);
	&.right.hide {
		transform: translate3d(-80vw, 0, 0);
	}
	&.left {
		right: 0;
		&.hide {
			transform: translate3d(80vw, 0, 0);
		}
	}

	.arrow {
		position: absolute;
		// top: var(--spacing-large);
		right: -40px;
		z-index: 100;
		display: block;
		width: max-content;
		padding: 0 var(--spacing-small);
		border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
		background: var(transparent);
		transition: all var(--transition-speed-medium) ease-in-out;
		background: var(--primary-background);
		border: 1px solid var(--primary-button-color);
		border-width: 2px 2px 2px 0;
		svg:global() {
			display: flex;
			align-items: center;
		}
		&.arrowOutside {
			right: -35px;
			// border: 1px solid var(--accent-2);
			border-width: 1px 1px 1px 0;
			border-radius: 0 var(--border-radius-medium) var(--border-radius-medium) 0;
			background: var(--primary-button-color);
			color: black;
		}
		&:hover {
			background: var(--primary-button-color);
			filter: brightness(1.25);
		}
	}
	&:hover {
		cursor: pointer;
	}
}
