.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.navItem {
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			min-width: 60px;
			margin: var(--spacing-small);
			padding: var(--spacing-medium);
			border-radius: var(--border-radius-medium);
			color: var(--primary-text);

			&:hover {
				text-decoration: underline;
				color: var(--accent-2);
			}
		}
	}
}
