.popupContent {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 200px;
	padding: 0 var(--spacing-medium);
	background: var(--primary-background-translucent);
	color: var(--light-text);
	font-size: var(--font-size-medium);

	.title {
		margin-top: var(--spacing-large);
		padding-right: var(--spacing-large);
		line-height: var(--line-height-medium);
	}
	.venueInfo {
		.infoContainer {
			display: flex;
			align-items: center;
			margin: var(--spacing-small);
			padding: var(--spacing-small);
			.infoIcon {
				display: flex;
				align-items: center;
			}
			.infoText {
				margin: 0 1rem;
				text-transform: capitalize;
			}
		}
	}
	.socialIcons {
		position: relative;
		padding-bottom: var(--spacing-small);
	}
}
