.popupContent {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: auto;
	padding: 0 var(--spacing-medium);
	background: var(--primary-background-translucent);
	color: var(--light-text);
	font-size: var(--font-size-medium);

	.title {
		margin-top: var(--spacing-large);
	}
	.venueInfo {
		.infoContainer {
			display: flex;
			align-items: center;
			margin: var(--spacing-small);
			padding: var(--spacing-small);
			.infoIcon {
				display: flex;
				align-items: center;
			}
			.infoText {
				margin: 0 1rem;
				text-transform: capitalize;
			}
		}
	}
	.socialIcons {
		position: absolute;
		bottom: var(--spacing-small);
	}
}
