@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap');

html {
    font-family: 'Recursive', sans-serif, 'Courier New', Courier, monospace;
    font-size: calc(10px + (32-10) * ((100vw - 280px) / 2000-280));
    max-width: 100vw;
    min-height: 0;
    max-height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    padding: 0;
    margin: 0;
    max-height: 100%;
    background: linear-gradient(90deg, hsla(350, 96%, 20%, .6), hsla(29, 100%, 50%, 1));
}

/* variables */
:root {
    --main-bg: hsla(35, 100%, 91%, 1);
    --main-text: hsla(0, 0%, 0%, 1);
    --light-1: hsla(35, 100%, 91%, 1);
    --bright-1: hsla(29, 100%, 50%, 1);
    --dull-1: hsla(350, 96%, 20%, 1);
    --dark-1: hsla(205, 100%, 7%, 1);
    --dark-2: hsla(188, 68%, 25%, 1);
}

a {
    color: var(--bright-1);
    text-decoration: none;
    transition: color .2s ease-in-out;
}

a:hover {
    color: var(--light-1);
}

/* MAIN CONTENT */

/* Info bar */

.frontpage-main-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* Map */
.map-section {
    width: 100%;
    min-height: 60vh;
    max-height: 80vh;
}

/* Leaflet map */
.leaflet-container {
    width: 100%;
    height: 100%;
    z-index: 5;
}

/* LEAFLET FIXES */

@media screen and (max-width: 600px) {
    
}

@media screen and (min-width: 320px) {
    html {
        font-size: calc(10px + (32-10) * ((100vw - 280px) / 2000-280));
    }
}
@media screen and (min-width: 2000px) {
    html {
        font-size: 22px;
    }
}