
.hamburger-container {
    position: absolute;
    top: 3.5%;
    left: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 1500;
}

.hamburger-container:focus {
    outline: none;
}

.hamburger-container div {
    width: 2rem;
    height: 0.25rem;
    background: var(--dark-1);
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

 