.blog-page-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 50px;
    grid-template-areas: 
    "heading heading"
    "sidebar feed";
    position: relative;
    width: 100%;
    height: 100%;
}

.blog-page-heading {
    grid-area: heading;
    width: 100%;
    text-align: center;
}

.blog-sidebar-container {
    display: none;
    grid-area: sidebar;
}

.blog-feed-container {
    grid-area: feed;
    padding: 1rem;
}
