.mainMap {
	position: relative;
	height: 100%;
	.openSidebarArrow {
		position: absolute;
		left: var(--margin-medium);
		z-index: 100;
		padding: var(--padding-small);
		border-radius: var(--border-radius-medium);
		transition: all var(--transition-speed-medium) ease-in-out;
		background: var(--primary-button-color);
		&:hover {
			cursor: pointer;
			background: var(--primary-button-hover-color);
		}
	}
	.mapWrapper {
		position: relative;
		width: 100% !important;
		height: 100% !important;
	}
}
