.sidebarItem {
	display: flex;
	width: 100%;
	transition: all var(--transition-speed-medium) ease-in-out;
	padding: var(--padding-medium);

	&:hover {
		background: var(--light-transparent);
	}

	&.active {
		background: var(--light-transparent);
	}
	.link {
		display: block;
		max-width: max-content;
		&:hover {
			text-decoration: none;
		}
	}
	.infoColumn {
		width: 50%;
		.title {
			margin: 0;
			max-width: max-content;
		}
		.type {
			text-transform: capitalize;
		}
	}
	.socialColumn {
		display: flex;
		justify-content: flex-end;
		flex-wrap: wrap;
		width: 50%;
	}
}
