.main-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    grid-template-areas: 
    "header header header"
    "main   main   main"
    "footer footer footer";
}

/* HEADER */
.main-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: min-content;
}

.main-header a {
    color: var(--main-text);
}

.main-header a:hover {
    color: var(--main-text);
}

.site-identity {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    padding: 0 2%;
    min-width: max-content;
}

.site-title {
    font-size: 2rem;
}

.site-description {
    font-size: 1rem;
    width: max-content;
    width: 100%;
}

/* Nav */
.main-nav {
    padding: 0 2%;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list-link {
    display: inline-block;
    padding: 1em;
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    transition: transform .2s ease-in-out, color .2s ease-in-out;
}

.nav-list-link:hover {
    color: var(--dark-2);
    transform: scale(1.01);
}


/* MAIN CONTENT */

.main-container {
    grid-area: main;
    height: 100%;
}

/* FOOTER */
.main-footer {
    grid-area: footer;
    display: flex;
    max-height: min-content;
    justify-content: center;
    background: linear-gradient(180deg, hsla(29, 100%, 50%, 0.1), hsla(350, 96%, 20%, 0.5));
}

/* Media queries */
