.main-grid {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
	position: relative;
	width: 100%;
	min-height: 100vh;
}

/* MAIN CONTENT */

.main-container {
	position: relative;
	display: flex;
	flex: 2 1 auto;
	justify-content: stretch;
	align-items: stretch;
	min-height: 78vh;
}

/* Media queries */

@media only screen and (max-width: 600px) {
	.main-container {
		min-height: 0;
	}
	.hamburger-menu-grid-container {
		display: block;
		z-index: 500;
	}
}
