.main-footer {
	/* grid-area: footer; */
	justify-self: flex-end;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 auto;
	width: 100%;
	height: clamp(3vh, 5vh, 10vh);
	padding: 1rem;
	background: var(--dark-1);
	opacity: 0.8;
	color: white;
}

.footer-info {
	margin-left: auto;
}

.site-title {
	font-family: "Expletus Sans", "Open Sans", "Helvetica Neue", sans-serif;
	font-weight: 800;
}

.footer-links {
	margin-left: auto;
	font-size: 1.5rem;
}

.footer-link {
	display: flex;
	align-items: center;
}
