.primaryPopup {
	padding: 0;
	width: clamp(250px, 360px, 90vw);
	min-height: 200px;

	div:global(.mapboxgl-popup-content) {
		height: 100%;
		padding: 0;
		background: transparent;

		button:global(.mapboxgl-popup-close-button) {
			font-size: 25px;
			color: var(--light-text);
			background-image: url("/images/icons/icon-small-close-button.svg");
		}
	}
	&.show {
		opacity: 1;
	}
	&.hide {
		opacity: 0;
	}
}
