.feed-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex: 1 1 auto;
	flex-wrap: wrap;
	min-height: 0;
	max-height: 100%;

	/* overflow-y: scroll; */
}

.blog-page-heading {
	padding: 0;
	margin: 0;
}
