.feed-container {
	display: grid;
	grid-gap: 0.2rem;
	grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr) 20rem);
	/*grid-auto-rows: 22rem;*/

	grid-auto-flow: dense;
	width: 100%;
	min-height: 0;
	max-height: 100%;
	padding: 0.2rem;
}

.blog-page-heading {
	padding: 0;
	margin: 0;
}
