:root {
	--primary-background: #{hsla(220, 95%, 8%, 1)};
	--primary-background-translucent: #{hsla(220, 95%, 8%, 0.85)};
	--accent-1: #{hsla(41, 77, 60, 1)};
	--accent-2: #{hsla(180, 60, 49, 1)};
	--accent-2-translucent: #{hsla(180, 60, 49, 0.75)};
	--light-transparent: #{hsla(0, 0%, 95%, 0.3)};

	--primary-heading-color: hsla(180, 100%, 29%, 1);
	--primary-text: #{hsla(218, 22, 93, 1)};
	--dark-text: #{hsla(0, 90%, 5%, 1)};

	--primary-button-color: #{#006b6b};
	--primary-button-hover-color: #{#004f58};

	--font-size-small: #{1.2rem};
	--font-size-medium: #{1.7rem};
	--font-size-large: #{2.2rem};
	--font-size-extra-large: #{2.7rem};

	--side-padding: #{5vw};

	--margin-small: #{0.5rem};
	--margin-medium: #{1rem};

	--spacing-small: #{0.5rem};
	--spacing-medium: #{0.75rem};
	--spacing-large: #{1.25rem};
	--spacing-large-2: #{1.75rem};
	--spacing-large-3: #{2.5rem};

	--transition-speed-medium: #{0.3s};

	--border-radius-medium: #{4px};

	--icon-size-medium: #{30px};
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	color: var(--primary-text);
	background: var(--primary-background);
}

html {
	font-size: 10px;
}

body {
	font-size: var(--font-size-medium);

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0;
	}
	h2 {
		min-width: 200px;
		max-width: max-content;
		border-image: linear-gradient(to right, var(--accent-1), transparent) 30;
		border-width: 0 0 1px 0;
		border-style: solid;
	}

	a {
		color: var(--accent-2);
		text-decoration: none;
		transition: all 0.3s ease-in-out;
		&:hover {
			color: var(--primary-text);
			text-decoration: underline;
		}
	}
}

* {
	box-sizing: border-box;
}

/* Typograph */
.sectionHeading {
	min-width: 200px;
	max-width: max-content;
	border-image: linear-gradient(to right, var(--accent-1), transparent) 30;
	border-width: 0 0 1px 0;
	border-style: solid;
}

/* Global content styles */
.section {
	padding: 0 var(--side-padding);
}
