html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	color: var(--primary-text);
	background: var(--primary-background);
}

html {
	font-size: 10px;
}

body {
	font-size: 17px;

	a {
		color: var(--accent-2);
		text-decoration: none;
		transition: all 0.3s ease-in-out;
		&:hover {
			color: var(--primary-text);
			text-decoration: underline;
		}
	}
}

* {
	box-sizing: border-box;
}

:root {
	--primary-background: #{hsla(220, 95%, 8%, 1)};
	--primary-background-translucent: #{hsla(220, 95%, 8%, 0.75)};
	--accent-1: #{hsla(41, 77, 60, 1)};
	--accent-2: #{hsla(180, 60, 49, 1)};
	--accent-2-translucent: #{hsla(180, 60, 49, 0.75)};
	--light-transparent: #{hsla(0, 0%, 95%, 0.3)};

	--primary-text: #{hsla(218, 22, 93, 1)};
	--dark-text: #{hsla(0, 90%, 5%, 1)};

	--font-size-medium: 1.7rem;
	--font-size-large: 2.8rem;

	--side-padding: 5vw;

	--margin-small: 0.5rem;
	--margin-medium: 1rem;

	--padding-small: 0.5rem;
	--padding-medium: 0.75rem;

	--transition-speed-medium: 0.3s;

	--border-radius-medium: 4px;
}
