.tag {
	margin: var(--spacing-small);
	padding: var(--spacing-small);
	border-radius: var(--border-radius-medium);
	text-transform: capitalize;
	&.light {
		background: var(--accent-2-translucent);
	}
	&.dark {
		background: var(--primary-background-translucent);
	}
}
